@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid-container{
    height: 100vh;
    width: 100vw; /* Workaround later for as divs increase it should scroll insted pf fitting the screen*/
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 0.9fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar workspace"
    ;
}

.sidebar {
    grid-area: sidebar;
    background-color: skyblue;
}
.header {
    grid-area: header;   
    background-color: aliceblue; 
}
.workspace {
    grid-area: workspace;
    background-color: lightgray;
}