@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    /* Workaround later for as divs increase it should scroll insted pf fitting the screen*/
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.5fr 3fr;
    grid-template-areas:
        "sidebar header"
        "sidebar workspace"
    ;
}

.sidebar {
    grid-area: sidebar;
    background-color: skyblue;
    padding: 15px;
}

.logo {
    display: flex;

}

.utility-links li {
    list-style: none;
}

.utility-links li a {
    text-decoration: none;
    color: white;
}

.utility-links img {
    height: 40px;
    ;
}

/* Header  */
.header {
    grid-area: header;
    background-color: aliceblue;
    padding: 5px;
    justify-content: space-around;
}

.searchbar {
    display: flex;
    justify-content: space-around;
}

#profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.header-icons img {
    height: 30px;
}

#search {
    width: 500px;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: burlywood; */

}

.profileinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-img {
    height: 40px;
    border-radius: 50%;
}

#bigimg {
    height: 60px;
    border-radius: 50%;
}

.sidebar-buttons button {
    padding: 5px;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Workspace */

.workspace {
    grid-area: workspace;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "projects Announcements"
        "projects Trending"
    ;
    grid-gap: 5px;
    padding: 10px;
    min-width: 0;
    min-height: 0;
}

/* projects  */

.projects {
    margin: 10px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-auto-columns: min-content; */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 15px;
    /* background-color: aqua; */
    height: 80vh;

}

.items {
    height: 100%;
    background-color: white;
    border-left: 8px solid yellow;
    border-radius: 15px;
    padding: 25px;
}

.projecticons {
    display: flex;
    float: right;
}
.projectaction {
    height: 30px;
}
/* Announcements  */
.Announcements {
    /* height: 100%; */
    grid-area: Announcements;
    background-color: white;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
}

.Announcements div {
    height: 100%;
    /* overflow: scroll; */
}

.announcements-p {
    border-bottom: 1px solid gray;
}

#announcements-title {
    margin-bottom: -50px;

}

#announcemnts-title {
    font-size: 2rem;
}

/* // Trending  */

.Trending {
    /* height: 70px; */
    grid-area: Trending;
    background-color: rgb(201, 29, 29);
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    min-width: 0;
    min-height: 0;
}

.usercard {
    display: flex;
    margin-bottom: 10px;
    height: 50px;

}
.trendingimage{
    width: 30%;
    background-color: royalblue;
    height: 100%;
    border-radius: 50%;
    
}
.trendingimage img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.trendinguser{
    width: 70%;
    background-color: green;
}